{% extends 'layout.html.twig' %}
{% block navbar %}
    {{ include('menu/menuFront.html.twig') }}
{% endblock %}
{% block content %}
    <h1>New Ticket</h1>
    <div class="row">
        <div class="col-md-8">
            {{ include('index/ticketForm.html.twig') }}
        </div>
    </div>
{% endblock %}