{% extends 'layout.html.twig' %}

{% block navbar %}
    {% block navbar %}
    {{ include('menu/menuFront.html.twig') }}
    {%endblock %}   
    {%endblock %}
{% block content %}
<div class='row'>
         <div class="col-md-8">

<h3>{{user[0]}}</h3>
<p>
    Thank you for contacting us.
    <br>
A support ticket request has been created and a representative will be getting back to you shortly if necessary.
<br>
<b></b>
</p>
</div>
</div>

{% endblock %}